#map { 
  width: 100%;  /* Ensure the map doesn't exceed the width of its parent container */
  height: 100vh;  /* Ensure the map takes up the full viewport height */
  position: relative;  /* Prevent it from affecting other elements' layout */
  z-index: 1;
}
.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 2;
  border-bottom: solid;
}

.logo-search-compare-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.heatmap-quality-forecast-container{
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#header-message{
  background-color: transparent;
  color: darkslategray;
  padding: 5px;
}

body{
  overflow: hidden;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

#main { /* endast för debugging */
  transition: margin-left .5s;
  padding: 16px;
  position: relative;
  z-index: 10;
}

/* Zoom control buttons */
.leaflet-control-container { 
  position: absolute;
  bottom: 80px; 
  left: 0px 
} 

h1{
  font-size: 1.8rem;
}

h2{
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
}

h3{
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}

h4{
  font-size: 1.2rem;
}

p{
  font-size: 1rem;
}

small{
  font-size: 0.9rem;
}

