.heatmap-button{
    margin: 29px 10px 20px 0px;
    border-radius: 10px;
    align-items: stretch;
    background-color: #eeeeee;
    border-width: thin;
    font-size: medium;
  }

  .heatmap-button:hover {
    background-color: white;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }