.nightButton {
    margin: 29px 10px 20px 0px;
    border-radius: 10px;
    align-items: center;
    background: var(--background-button);
    border-width: thin;
    font-size: medium;
    color: var(--text);
}

.nightButton:hover {
    background-color: var(--secondary-button);
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
