/* CSS for search */

.input{
    width: 240px;
    padding: 10px;
  }

.search-container {
    background-color: transparent;
  }
  
#search{
    width: 240px;
    padding: 12px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 10px;
    border-width: thin;
  }

datalist{
    padding: 30px;
  }

  fieldset{
    border-style: none;
  }