#map { 
  width: 100%;  /* Ensure the map doesn't exceed the width of its parent container */
  height: 100vh;  /* Ensure the map takes up the full viewport height */
  position: relative;  /* Prevent it from affecting other elements' layout */
  z-index: 1;
}
.site-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 2;
}

.logo-search-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#header-message{
  background-color: transparent;
  color: darkslategray;
  padding: 5px;
}

.search-container {
  background-color: transparent;
}

#search{
  width: 240px;
  padding: 10px;
  margin-top: 25px;
  margin-left: 25px;
}

datalist{
  padding: 30px;
}

body{
  overflow: hidden;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.sidenav { /* Själva sidebar (osynlig) */
  height: 85%;
  width: 0; 
  position: fixed; 
  z-index: 10; 
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}
#main { /* endast för debugging */
  transition: margin-left .5s;
  padding: 16px;
  position: relative;
  z-index: 10;
}


/* Nedanför är css för info-frame.html*/
.detailed-view-header  { 
  min-height: 50px;
  background-color: #eef0f5;
  padding: .5rem;
  border-radius: 15px 15px 0px 0px;
}
.infoBox {
  min-height: 150px;
  z-index: 12;
  padding: .5rem;
  margin: 10px;
}
.detailed-view-frame{
  right: -100%; 
  transition: right 0.5s ease-out;
  background-color: white;
  border-radius: 15px;
}
.closeButton{
  color: black;
}

h1{
  font-size: 1.8rem;
}
h2{
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
}
h3{
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}
h4{
  font-size: 1.2rem;
}
p{
  font-size: 1rem;
}
small{
  font-size: 0.9rem;
}

/*zoom comtrols*/
.leaflet-control-container { 
  position: absolute;
  bottom: 80px; 
  left: 0px 
} 
/* Sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Sliders slut */

.switch-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  position: absolute;
  bottom: 7px; /* Distance from the bottom of the screen */
  left: 50px; /* Distance from the left of the screen */
  z-index: 10;
  background-color: white;
  border-radius: 5px;
  padding: 4px 8px 4px 6px;
}  

.switch {
  margin-right: 8px; /* Add some space between the switch and the paragraph */
}

.filter-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: calc(100% - 20px);
  width: 80px;
  padding: 10px;
  gap: 5px;
  z-index: 10;
  bottom: 75px;
}

.filter-button {
  width: 75px;
  height: 75px;
  background-color: gray;
  border-radius: 10px;
  border: none;
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
  transition: 50ms ease-in-out;
}

.filter-button:hover {
  width: 80px;
  height: 80px;
}

.filter-option {
  width: 50px;
  height: 50px;
  background-color: rgb(157, 157, 157);
  border-radius: 10px;
  border: none;
  padding: 0;
  pointer-events: auto;
  cursor: pointer;
  transition: 50ms ease-in-out;
}

.filter-option:active {
  background-color: rgb(197, 197, 197);
}

.filter-option:hover {
  width: 60px;
}

.filter-options {
  display: none;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

#forecast-window{
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: 10;
  background-color: transparent;
}

#graph-container{
  background-color: white;
  width:700px;
  height: 400px;
}

#choose-graph-mode{
  background-color: white;
}

fieldset{
  border-style: none;
}

#AQI-box{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

#pollution-components{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
}

#forecast{
  margin: 5px;
  padding: 5px;
}

#info-box-header-city-country{
  margin: 5px;
  padding: 5px;
}

#info-box-header-location{
  margin: 5px;
  padding: 5px;
}

#info-box-header-time{
  margin: 5px;
  padding: 5px;
}

.forecast-history-button{
  margin: 5px;
}

.close-forecast-button-frame{
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 10;
}

.closeForecastButton{
  margin: 5px;
}