#map { 
    height: 100%;
    z-index: 1;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    height: 25px;
    background-color: transparent;
    position: absolute;
    margin: 10px;
    top: 10px;
    left: 10px;
    z-index: 2;
}

#header-message{
  background-color: rgba(255, 255, 255, 0.85);
  color: darkslategray;
  padding: 10px;
  border-radius: 30px;
}

.search-container {
  background-color: transparent;
  position: absolute;
  margin: 10px;
  top: 60px;
  left: 10px;
  z-index: 2;
}

#search{
  width: 240px;
  padding: 10px;
}

datalist{
  padding: 30px;
}

body{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidenav { /* Själva sidebar (osynlig) */
  height: 85%;
  width: 0; 
  position: fixed; 
  z-index: 10; 
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  overflow-x: hidden;
  padding-top: 60px; 
  transition: 0.5s; 
}
#main { /* endast för debugging */
  transition: margin-left .5s;
  padding: 16px;
  position: relative;
  z-index: 10;
}


/* Nedanför är css för info-frame.html*/
.headRec  { 
  min-height: 50px;
  width: 380px;
  border-top-left-radius: 15px;
  background-color: #64B5F6;
  padding: .5rem;
}
.infoBox {
  min-height: 150px;
  width: 380px;
  background-color: white;
  z-index: 12;
  padding: .5rem;
}
.frame{
  right: -100%; 
  transition: right 0.5s ease-out;
}
.closeButton{
  color: black;
}

h1{
  font-size: 1.8rem;
}
h2{
  font-size: 1.6rem;
  font-weight: 600;
  font-style: normal;
}
h3{
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}
h4{
  font-size: 1.2rem;
}
p{
  font-size: 1rem;
}
small{
  font-size: 0.9rem;
}

/*zoom comtrols*/
.leaflet-control-container { 
  position: absolute;
  bottom: 80px; 
  left: 0px 
} 