<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" />

</head>
<body>
  <div class="frame">
    <div class="headRec" id="header">
      <a href="javascript:void(0)" class="closebtn">&times;<a>                                                                    
        <h1 id="location"></h1>
        <h2 id="station"></h2>
    </div>
    <div id="infoBox" class="infoBox">
      <h2>Latest Reading</h2>
    </div>
  </div>

</body>
</html>