<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/info-frame.css" />

</head>
<body>
  <div class="detailed-view-frame">
    <div class="detailed-view-header" id="detailed-view-header">
      <button href="javascript:void(0)" class="detailed-view-close-button"><i class="fa-solid fa-xmark"></i></button>
    </div>
    <div id="infoBox" class="infoBox">

    </div>
  </div>

<script src="../static/location-frame.js"></script>
</body>
</html>