<html>
    <head>
        <title>Air Quality Map</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://kit.fontawesome.com/4302a23631.js" crossorigin="anonymous"></script>
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <nav class="header">
            <h2 id="header-message"><i class="fa-solid fa-smog"></i> {{message}}

            </h2>
        </nav>
        
        <div class="search-container">
            <form class="form">
                <input id="search" type="search" class="input" list="search-results" onkeypress="clickPress(event)" placeholder="Search location"/>
            </form>
            <datalist id="search-results"></datalist>
            <div id="searchDropdown">
            </div>
        </div>

        <div class="select-menu">
            <div class="select-btn">
                <span class="sBtn-text">All</span>
                <i class="bx bx-chevron-down"></i>
            </div>
            <ul class="options">
                <li class="option" value="0">
                    <span class="checkbox"></span>
                    <span class="option-text">All</span>
                </li>
                <li class="option" value="1">
                    <span class="checkbox"></span>
                    <i class="bx bxs-happy"></i>
                    <span class="option-text">Good</span>
                </li>
                <li class="option" value="2">
                    <i class="bx bxs-smile"></i>
                    <span class="option-text">Fair</span>
                    <span class="checkbox"></span>
                </li>
                <li class="option" value="3">
                    <i class="bx bxs-meh"></i>
                    <span class="option-text">Moderate</span>
                    <span class="checkbox"></span>
                </li>
                <li class="option" value="4">
                    <i class="bx bxs-sad"></i>
                    <span class="option-text">Poor</span>
                    <span class="checkbox"></span>
                </li>
                <li class="option" value="5">
                    <i class="bx bxs-dizzy"></i>
                    <span class="option-text">Very Poor</span>
                    <span class="checkbox"></span>
                </li>
                <li class="option" value="6">
                    <i class="bx bxs-skull"></i>
                    <span class="option-text">Hazardous</span>
                    <span class="checkbox"></span>
                </li>
            </ul>
        </div>

        <div class="filter-area">
            <div class="filter-options" id="filter-options">
                <button class="filter-option" onclick="removeHeatMap()">none</button>
                <button class="filter-option" onclick="addHeatMap('pm25', 0)">pm25</button>
                <button class="filter-option" onclick="addHeatMap('pm10', 0)">pm10</button>
                <button class="filter-option" onclick="addHeatMap('no2', 0)">no2</button>
            </div> 
            <button class="filter-button" onclick="triggerFilterList()">Filters</button>
        </div>

        <div class="switch-container">
            <label class="switch">
            <input id="compareSwitch" type="checkbox">
            <span class="slider round"></span>
            </label>
            <p>Compare several locations</p>
        </div>

        <div id="map">
        </div>
        
        <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
        <script src="/static/map-initialization.js"></script>
        <script src="/static/geolocation.js"></script>
        <script src="/static/location-frame.js"></script>
        <script src="/static/location-data.js"></script>
        <script src="/static/heat-map.js"></script>
        <script src="/static/search.js"></script>
        <script src="/static/user-interaction.js"></script>


        <div id="offcanvas" class="sidenav">
            <div id="canvas">
                
            </div>
        </div>
        <div id="main">
            <!--  <span style="font-size:30px;cursor:pointer" onclick="openNav()"></span>-->
                
        </div>
    </body>

</html>