<html>
    <head>
        <title>Air Quality Map</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://kit.fontawesome.com/4302a23631.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="header">
            <h2 id="header-message"><i class="fa-solid fa-smog"></i> {{message}}

            </h2>
        </nav>
        
        <div class="search-container">
            <form class="form">
                <input id="search" type="search" class="input" list="search-results" onkeypress="clickPress(event)" placeholder="Search location"/>
            </form>
            <datalist id="search-results"></datalist>
            <div id="searchDropdown">
            </div>
        </div>

        <div class="switch-container">
            <label class="switch">
            <input id="compareSwitch" type="checkbox">
            <span class="slider round"></span>
            </label>
            <p>Compare several locations</p>
        </div>

        <div id="map">
        </div>
        <script src="/static/settings.js" charset="utf-8"></script>
        <div id="offcanvas" class="sidenav">
            <div id="canvas">
                
            </div>
        </div>
        <div id="main">
            <!--  <span style="font-size:30px;cursor:pointer" onclick="openNav()"></span>-->
                
        </div>
    </body>

</html>